$white: #ffffff;
$mercury: #e5e5e5;
$zircon: #f9faff;
$pattens-blue: #dfedff;
$dodger-blue: #2286ef;
$denim: #1950db;
$blue-haze: #c9d2e1;
$cadet-blue: #acafc1;
$fiord: #4d586c;
$deep-cove: #050c42;
$cornflower-blue: #7090f9;
$funchsia-blue: #884ec6;
$hot-pink: #ff68ac;
$puerto-rico: #5ecba1;
$robins-egg-blue: #00c2bc;
$neon-carrot: #ffa236;
$azure-radiance: #00a4ff;
$radical-red: #fc346a;
$coral-red: #ff3347;
